password=USER
userlevel=0
baud=38400
robot=1
comport=1
editor=**builtin**
commandfile=C:\RCWIN\RAPL2250.CMD
terminal=**builtin**
WorkingDirectory=D:\ARDUIN~1\ENTANG~1\ROBCOM~1
PcpAutoAddressDetect=On
parameterfile=C:\RCWIN\rcwin.par
helpfile=C:\RCWIN\rcwin.hlp
timecheck=On
varfileeditor=
locfileeditor=**builtin**
sorttables=On
writeflag=replace
ignoreprograms=Off
ignorelocations=Off
ignorevariables=Off
ignorehexfiles=Off
ignorepcps=Off
localbuffer=On
eraseall=On
appload=On
savesettings=On
hogcommport=Off
viewrobotonly=Off
terminallog=Off
minimizeonedit=On
terminalfnkeys=Off
terminaltypeback=Off
servername=ROBCOMM
tabsize=6
AdviseTimeInterval=500
terminallogfile=C:\RCWIN\terminal.log
lockoutterminal=Off
PCPAutoLoad=Off
Simulator=
raplhelpfile=C:\RCWIN\raplcmd.hlp
firsttime=Off
